extends layout.pug
block titulo
     title Mostrar 
block contenido 
    h4 Dueño : #{nombre}
    h4 Patente : #{patente}
    h4 Marca : #{marca}
    h4 Modelo : #{modelo}
    h4 Color : #{color} 
    br
    a(href="/index") regresar ala pagina principal      


                    
                
            
